@import "tailwindcss";

@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
  --default-background-color: var(--color-gray-100);
  --default-background-secondary: var(--color-gray-100);

  /* main colors */
  --color-primary: hsla(166, 51%, 35%, 1);
  --color-primary-100: hsla(166, 29%, 48%, 1);
  --color-secondary: hsla(0, 0%, 85%, 1);
  --color-dark: hsla(158, 15%, 14%, 1);
}


@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  main {
    @apply px-4 min-h-screen sm:px-0 space-y-16 w-full bg-primary;
    /* background-color: ; */
    /* background-image: radial-gradient(
        hsla(0, 0%, 84.3%, 0.25) 1px,
        transparent 0
      ),
      radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite; */
  }
}